body {
  width: 340px;
  color: #212121;
  font-family: sans-serif;
}

.title {
  text-align: center;
  color: #388E3C;
  font-size: 1.5em;
  padding: 20px 0;
  margin-bottom: 10px;
}

.button {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 5px 5px 5px;

    cursor: pointer;
}

.button-right {
  float: right;
}

.button-validation {
    background-color: #4CAF50;
    color: #FFFFFF;
}

/* Switch configuration */

.switch-box {
  display: flex;
  margin-bottom: 5px;
  margin-right: 5px;
}

.label {
  flex: 1;
  margin-left: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.switch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

/* Hide the checkbox */
.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #BDBDBD;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: #FFFFFF;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8BC34A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8BC34A;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
