body {
  width: 300px;
}

h1 {
  text-align: center;
  color: #A66C00;
}

p {
  font-style: italic;
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  float: right;
  margin-bottom: 10px;
}
